/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

 body {
  margin: 0px;
  padding: 0px;
  background: #402b5e;
}
table {
  padding:0px;
  width: 100%;
  margin-left: -2px;
  margin-right: -2px;
  border-spacing: 0px;
  background: #fbf7f7;
}
acronym {
  cursor: help;
  border-bottom: 1px dotted #feb;
}
table.bodyTable th, table.bodyTable td {
  /*padding: 2px 4px 2px 4px;
  vertical-align: top;*/

  border-bottom: 1px solid #e3e3e3;
  height: 60px;
  box-sizing: border-box;
  /*font-size: 13px;*/
  line-height: 1.6155;
  /*font-weight: 300;*/
  letter-spacing: 0em;
  font-family: "SF UI Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  padding: 10px 5px;
  color: #FFF;
  text-indent: 0;
}
div.clear{
  clear:both;
  visibility: hidden;
}
div.clear hr{
  display: none;
}
#bannerLeft, #bannerRight {
  font-size: large;
  font-weight: bold;
  background: #402c5d;
  color: #FFF;
}
#bannerLeft img, #bannerRight img {
  margin: 0px;
}
.xleft, #bannerLeft img {
  float:left;
}
.xright, #bannerRight {
  text-align: center;
}
#banner {
  padding: 0px;
}
#breadcrumbs {
  padding: 3px 10px 3px 10px;
}
#leftColumn {
 width: 240px;
 float:left;
 overflow: auto;
}
#bodyColumn {
  /* margin-right: 1.5em; */
  background-image: linear-gradient(45deg, #000000db, #666);
  background-image: -webkit-linear-gradient(45deg, #000000db, #666);
  color: #FFF;
  /*margin-left: 240px;*/
  height: 100vh;
  overflow: auto;
  /* padding-left: 25px;
  padding-right: 1.5em; */
}
#contentBox {
  padding-left: 15px;
  padding-right: 15px;
}
#legend {
  padding: 8px 0 8px 0;
}
#navcolumn {
  padding: 8px 4px 0 8px;
  background: #402b5e;
  color: #FFF;
  height: calc(100vh - 110px);
}
#navcolumn h5 {
  margin: 0;
  padding: 0;
  font-size: small;
}
#navcolumn ul {
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  padding-top: 10px;
}
#navcolumn li {
  list-style-type: none;
  background-image: none;
  background-repeat: no-repeat;
  background-position: 0 0.4em;
  padding-left: 16px;
  list-style-position: outside;
  line-height: 1.2em;
  font-size: smaller;
  padding-bottom: 15px;
}
#navcolumn li.expanded {
  background-image: url(../images/expanded.gif);
}
#navcolumn li.collapsed {
  background-image: url(../images/collapsed.gif);
}
#navcolumn li.none {
  text-indent: -1em;
  margin-left: 1em;
}
#navcolumn li.navi-active {
  background: #fff;
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
#navcolumn li a sub.index-sub {
  float: right;
  padding-top: 11px;
  font-style: italic;
}
#navcolumn li.navi-active a {
  font-weight: bold;
  color: #333 !important;
}
#poweredBy {
  text-align: center;
}
#navcolumn img {
  margin-top: 10px;
  margin-bottom: 3px;
}
#poweredBy img {
  display:block;
  margin: 20px 0 20px 17px;
}
#search img {
    margin: 0px;
    display: block;
}
#search #q, #search #btnG {
    border: 1px solid #999;
    margin-bottom:10px;
}
#search form {
    margin: 0px;
}
#lastPublished {
  font-size: x-small;
}
.navSection {
  margin-bottom: 2px;
  padding: 8px;
}
.navSectionHead {
  font-weight: bold;
  font-size: x-small;
}
.section {
  padding: 4px;
}
.success-icon {
  height: 13px;
  width: 13px;
  background-color: #3bbc54;
  border-radius: 50%;
  display: inline-block;
}
.warning-icon {
  height: 13px;
  width: 13px;
  background-color: #f0e717;
  border-radius: 50%;
  display: inline-block;
}
.error-icon {
  height: 13px;
  width: 13px;
  background-color: #fb2e00;
  border-radius: 50%;
  display: inline-block;
}
#footer {
  /* padding: 3px 10px 3px 10px; */
  padding: 15px;
  font-size: small;
  background: #402b5e;
  color: #FFF;
}
#breadcrumbs {
  font-size: x-small;
  margin: 0pt;
}
.source {
  padding: 12px;
  margin: 1em 7px 1em 7px;
}
.source pre {
  margin: 0px;
  padding: 0px;
  color: #FFF;
}
#navcolumn img.imageLink, .imageLink {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  padding-right: 2px;
  border: 0px;
  margin: 0px;
}

.navigation-menu .container-level:not(:first-child) {
  margin-left: 10px;
}
.navigation-menu select {
  width: 220px !important;
}
.form-control {
  font-size: small;
}
.navigation-menu {
  padding: 5px;
}





/** overlay navigation start**/
.navigation-menu label{
  color: #fff;
}
.container-level {
  display: inline-block;
}

.overlay {
  background: #402c5d;
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 15%;
  width: 100%;
  left: 2%;
  /*text-align: center;*/
  /* margin-top: 30px; */
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  /*font-size: 36px;*/
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
  text-decoration: none;
}

.overlay .closebtn {
  position: absolute;
  /* top: 10px; */
  right: 45px;
  font-size: 40px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}
.dropdown-submenu {
  position: relative;
}

.dropdown-toggle::after {
  display: none;
}
.dropdown-menu {
  /* left: 200px; */
}
.dropdown-menu.show {
  /* background: #3c3c3c; */
  background: #402c5d;
  color: #FFF;
}
.dropdown-item {
  cursor: pointer;
}
.dropdown-item:hover {
  color: #000 !important;
}
.dropdown-item:active, .dropdown-item.active {
  background-color: #3c3c3c !important;
  color: #000 !important;
}
.dropdown-item.disabled, .dropdown-item:disabled {
  color: #FFF !important;
  cursor: default;
}
.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}

/** overlay navigation end**/

.selected-levels {
  font-size: 16px;
  padding-top: .5rem;
}
.selected-levels .selected-level:not(:last-child):after {
  content: ' > ';
}
.selected-levels .selected-level:first-child:before {
  content: ' > ';
}
